@import "../../assets/scss/font-icons";
@import "../../assets/scss/fonts";
@import "../../assets/scss/variables/colors";

.input {
  &__element {
    font-family: "Roboto", sans-serif;
    outline: 0 none;
    background: $true-white;
    font-size: 1rem;
    line-height: 1rem;
    border-radius: 3px;
    height: 48px;
    padding: 16px;
    border: 1px solid $disabled-grey;
    display: block;
    width: 100%;
    overflow: visible;
    box-sizing: border-box;

    &:focus,
    &:hover {
      border-color: $bright-blue;
      background: $true-white;
    }

    &--error {
      border-color: $true-red;
      background: rgba(238, 61, 66, 0.05);
    }
  }

  &__label {
    font-family: "Roboto", sans-serif;
    display: inline-block;
    font-size: 0.75rem;
    line-height: 0.75rem;
    color: $deep-blue;
    padding-bottom: 6px;
    margin-bottom: 0px;
    cursor: pointer;
  }

  &__error-message {
    font-family: "Roboto", sans-serif;
    display: inline-block;
    font-size: 0.75rem;
    line-height: 0.75rem;
    color: $true-red;
    width: 100%;
    text-align: right;
  }
}
