@import "../../assets/scss/font-icons";
@import "../../assets/scss/fonts";
@import "../../assets/scss/variables/colors";

.pagination {
  list-style: none;
  padding: 0;
  margin: 0;
  user-select: none;

  &__item {
    display: inline-block;
    margin: 0 8px;
    cursor: pointer;

    &-elem {
      font-size: 0.875rem;
      line-height: 22px;
      width: 24px;
      height: 24px;
      display: inline-block;
      color: #5c6570;
      text-decoration: none;
      border-radius: 2px;
      text-align: center;
      border: 1px solid transparent;

      &:hover {
        border: 1px solid #3fa9f5;
      }

      &--active {
        color: #fff;
        background: #3fa9f5;
      }
    }

    &-dots {
      font-size: 0.875rem;
      line-height: 22px;
      width: 24px;
      height: 24px;
      display: inline-block;
      color: #5c6570;
      text-decoration: none;
      border-radius: 2px;
      text-align: center;
      border: 1px solid transparent;
      cursor: default;
    }

    &--control {
      .pagination__item-elem {
        &:hover {
          border: 1px solid transparent;
        }

        .cmx-icon-straight-arrow-left,
        .cmx-icon-straight-arrow-right {
          width: 8px;
          height: 12px;
          color: #3fa9f5;

          transition: all 0.25s;

          &:hover {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
