@import "../../assets/scss/font-icons";
@import "../../assets/scss/fonts";
@import "../../assets/scss/variables/colors";

.tooltip {
  &__wrapper {
    position: relative;
    z-index: 98;
    display: inline-block;
    cursor: help;

    &:hover .tooltip__element {
      opacity: 1;
      pointer-events: auto;
      transform: translate(-50%, 0);
    }
  }

  &__element {
    position: absolute;
    z-index: 99;
    max-width: 420px;
    border: 1px solid $dark-grey;
    border-radius: 3px;
    color: #e8ebef;
    font-family: "Roboto", sans-serif;
    font-size: 0.75rem;
    line-height: 0.9rem;
    background: $dark-grey;
    padding: 8px 16px;
    bottom: 100%;
    display: table;
    left: 50%;
    margin-bottom: 15px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, 10px);
    transition: all 0.25s ease-out;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);

    & a {
      color: #e8ebef;
    }

    &:before {
      bottom: -20px;
      content: " ";
      display: block;
      height: 20px;
      left: 0;
      position: absolute;
      width: 100%;
    }

    &:after {
      border-left: solid transparent 10px;
      border-right: solid transparent 10px;
      border-top: solid $dark-grey 10px;
      bottom: -10px;
      content: " ";
      height: 0;
      left: 50%;
      margin-left: -13px;
      position: absolute;
      width: 0;
    }
  }
}
