@import "../../assets/scss/font-icons";
@import "../../assets/scss/fonts";
@import "../../assets/scss/variables/colors";

.alert {
  width: 100%;
  min-height: 32px;
  color: $true-white;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1rem;
  position: relative;
  margin-bottom: 10px;
  font-family: "Roboto-Medium", sans-serif;

  &--error {
    background: $true-red;
  }

  &--success {
    background: $bright-green;
  }

  &--warning {
    background: $bright-orange;
  }

  &--info {
    background: $bright-blue;
  }

  &__text {
    padding: 8px 16px;
    font-size: 0.875rem;
    line-height: 1rem;
    width: calc(100% - 70px);
    color: $true-white;
  }

  &__link {
    font-size: 0.875rem;
    font-weight: 700;
    color: $true-white;
    line-height: 1rem;
    text-decoration: underline;
    cursor: pointer;
  }

  &__close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }

  &__icon {
    color: $true-white;
  }
}
