@import "../../assets/scss/font-icons";
@import "../../assets/scss/fonts";
@import "../../assets/scss/variables/colors";

.status {
  &__box {
    float: left;
    border-radius: 2px;

    &--standard {
      width: 24px;
      height: 16px;
      margin-right: 8px;
    }

    &--medium {
      width: 14px;
      height: 8px;
      margin-right: 6px;
    }

    &--small {
      width: 10px;
      height: 10px;
      margin-right: 4px;
    }

    &--red {
      background: $true-red;
    }

    &--green {
      background: $bright-green;
    }

    &--orange {
      background: $bright-orange;
    }

    &--grey {
      background: $disabled-grey;
    }

    &--blue {
      background: $bright-blue;
    }
  }

  &__label {
    float: left;

    &--standard {
      font-size: 0.875rem;
      line-height: 0.875rem;
    }

    &--medium {
      font-size: 0.7rem;
      line-height: 0.7rem;
    }

    &--small {
      font-size: 0.6rem;
      line-height: 0.6rem;
    }
  }
}
