@import "../../assets/scss/font-icons";
@import "../../assets/scss/fonts";
@import "../../assets/scss/variables/colors";

.radio {
  margin-bottom: 0.5rem;
  cursor: pointer;

  &__element {
    position: absolute;
    z-index: 1;
    display: none;

    & + .radio__label {
      font-family: "Roboto", sans-serif;
      color: $dark-grey;
      display: inline-block;
      font-size: 1rem;
      font-weight: normal;
      line-height: 1.5;
      position: relative;
      padding-right: 1rem;

      .radio__label-content {
        display: inline-block;
        vertical-align: middle;
      }

      &:before {
        content: $cmx-icon-radio-static;
        font-family: "dls-icons" !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-right: 0.25rem;
        color: $disabled-grey;
        font-size: 1.5rem;
        display: inline-block;
        vertical-align: middle;
      }

      &:hover {
        &:before {
          color: $bright-blue;
        }
      }
    }

    &:checked {
      & + .radio__label {
        &:before {
          content: $cmx-icon-radio-active;
          color: $bright-blue;
        }
      }
    }

    &:disabled {
      & + .radio__label {
        color: $disabled-grey;

        &:before {
          color: $disabled-grey;
        }

        &:hover {
          &:before {
            color: $disabled-grey;
          }
        }
      }
    }
  }
}
