$icomoon-font-path: "../../assets/fonts" !default;

$cmx-icon-control-center: "\e900";
$cmx-icon-user-profile: "\e901";
$cmx-icon-scheduler: "\e902";
$cmx-icon-track: "\e903";
$cmx-icon-driver: "\e904";
$cmx-icon-pricing: "\e905";
$cmx-icon-payment: "\e906";
$cmx-icon-ordering: "\e907";
$cmx-icon-accepted-ok: "\e908";
$cmx-icon-error: "\e909";
$cmx-icon-warning-repeat: "\e90a";
$cmx-icon-warning: "\e90b";
$cmx-icon-calendar: "\e90e";
$cmx-icon-clock: "\e90f";
$cmx-icon-checkbox-active: "\e910";
$cmx-icon-checkbox-static: "\e911";
$cmx-icon-radio-active: "\e912";
$cmx-icon-radio-static: "\e913";
$cmx-icon-close: "\e914";
$cmx-icon-plus: "\e915";
$cmx-icon-minus: "\e916";
$cmx-icon-collapse: "\e917";
$cmx-icon-expand: "\e918";
$cmx-icon-expand-move: "\e919";
$cmx-icon-contract-move: "\e91a";
$cmx-icon-map-pin: "\e91b";
$cmx-icon-up-double: "\e91c";
$cmx-icon-down-double: "\e91d";
$cmx-icon-left-double: "\e91e";
$cmx-icon-right-double: "\e91f";
$cmx-icon-up-single: "\e920";
$cmx-icon-down-single: "\e921";
$cmx-icon-left-single: "\e922";
$cmx-icon-right-single: "\e923";
$cmx-icon-straight-arrow-up: "\e924";
$cmx-icon-straight-arrow-down: "\e925";
$cmx-icon-straight-arrow-left: "\e926";
$cmx-icon-straight-arrow-right: "\e927";
$cmx-icon-download-export: "\e928";
$cmx-icon-magnifier-glass: "\e929";
$cmx-icon-settings: "\e92a";
$cmx-icon-up-rounded-full: "\e92b";
$cmx-icon-up-rounded: "\e92c";
$cmx-icon-down-rounded-full: "\e92d";
$cmx-icon-down-rounded: "\e92e";
$cmx-icon-left-rounded-full: "\e92f";
$cmx-icon-left-rounded: "\e930";
$cmx-icon-right-rounded-full: "\e931";
$cmx-icon-right-rounded: "\e932";
$cmx-icon-round-minus-full: "\e933";
$cmx-icon-round-minus: "\e934";
$cmx-icon-round-plus-full: "\e935";
$cmx-icon-round-plus: "\e936";
$cmx-icon-repeat: "\e937";
$cmx-icon-trash: "\e938";
$cmx-icon-favourite: "\e939";
$cmx-icon-favourite-active: "\e93a";
$cmx-icon-logo-face: "\e93b";
$cmx-icon-check: "\e93c";
$cmx-icon-expand-control: "\e90c";
$cmx-icon-questionmark: "\e90d";
$cmx-icon-brakets: "\e93d";
$cmx-icon-picture: "\e93e";
$cmx-icon-language: "\e93f";
$cmx-icon-document: "\e940";
$cmx-icon-logout: "\e941";
$cmx-icon-quick-view: "\e942";
$cmx-icon-burger-menu: "\e943";
$cmx-icon-bulk-cement: "\e944";
$cmx-icon-multi-products: "\e945";
$cmx-icon-aggregates: "\e946";
$cmx-icon-bag-cement: "\e947";
$cmx-icon-ready-mix: "\e948";
