@font-face {
  font-family: 'Roboto-Regular', sans-serif;
  src: url('../../assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Bold', sans-serif;
  src: url('../../assets/fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto-Medium', sans-serif;
  src: url('../../assets/fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto-Light', sans-serif;
  src: url('../../assets/fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto-Thin', sans-serif;
  src: url('../../assets/fonts/Roboto-Thin.ttf');
}

@font-face {
  font-family: 'Roboto-Italic';
  src: url('../../assets/fonts/Roboto-Italic.ttf');
}
