@import "../../assets/scss/font-icons";
@import "../../assets/scss/fonts";
@import "../../assets/scss/variables/colors";

.breadcrumb {
  font-size: 1.125rem;
  line-height: 1.125rem;
  list-style-type: none;
  padding: 0;
  margin: 0 0 0.75rem 0;
  display: flex;

  &__item {
    &::before {
      content: "\2022";
      display: inline-block;
      margin: 0 0.5rem;
    }
    &:first-child::before {
      display: none;
    }
  }

  &__link {
    text-decoration: none;
    color: $bright-blue;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
