@import "../../assets/scss/font-icons";
@import "../../assets/scss/fonts";
@import "../../assets/scss/variables/colors";

.tablist {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  border-bottom: 1px solid $disabled-grey;

  &__tab {
    margin-bottom: -1px;
    cursor: pointer;

    &-link {
      display: block;
      border: 1px solid transparent;
      font-weight: 500;
      color: $bright-blue;
      font-size: 15px;
      padding: 16px 24px;

      &:focus,
      :hover {
        text-decoration: none;
      }

      &--active {
        color: $dark-grey;
        background-color: transparent;
        border-color: $disabled-grey $disabled-grey $background-grey;
        border-top: 3px solid $bright-blue;
        padding-top: 14px;
      }

      &--disabled {
        color: #636c72;
        background-color: transparent;
        border-color: transparent;
        cursor: not-allowed;
      }
    }
  }
}
