@import "../../assets/scss/font-icons";
@import "../../assets/scss/fonts";
@import "../../assets/scss/variables/colors";

.textarea {
  &__element {
    resize: both;
    overflow: auto;
    font-family: "Roboto", sans-serif;
    outline: 0 none;
    background: $true-white;
    font-size: 1rem;
    line-height: 1rem;
    border-radius: 3px;
    height: 104px;
    line-height: 1.125rem;
    min-height: 104px;
    padding: 1rem;
    border: 1px solid $disabled-grey;
    display: block;
    width: 100%;
    box-sizing: border-box;

    &:focus,
    &:hover {
      border-color: $bright-blue;
      background: $true-white;
    }

    &--error {
      border-color: $true-red;
      background: rgba(238, 61, 66, 0.05);
    }

    &[contenteditable="true"]:empty:before {
      content: attr(placeholder);
      display: block;
      color: $disabled-grey;
    }
  }

  &__label {
    font-family: "Roboto", sans-serif;
    display: inline-block;
    font-size: 0.75rem;
    line-height: 0.75rem;
    color: $deep-blue;
    padding-bottom: 0.375rem;
    margin-bottom: 0;
    cursor: pointer;
  }

  &__error-message {
    font-family: "Roboto", sans-serif;
    display: inline-block;
    font-size: 0.75rem;
    line-height: 0.75rem;
    color: $true-red;
    width: 100%;
    text-align: right;
  }
}
