@import "../../assets/scss/font-icons";
@import "../../assets/scss/fonts";
@import "../../assets/scss/variables/colors";

$line-height-24: 1.5rem;
$font-size-12: 0.75rem;

.footer {
  position: fixed;
  left: 0;
  float: left;
  z-index: 2002;
  width: 100%;
  height: 25px;
  background: $medium-blue;
  color: $true-white;
  top: calc(100% - 24px);
  padding: 0 20px;
  box-sizing: border-box;

  p {
    font-size: $font-size-12;
    line-height: $line-height-24;
    float: left;
  }

  ul {
    float: right;

    li {
      float: left;
      display: inline-block;
      margin-right: 20px;

      a {
        color: $true-white;
        display: inline-block;
        font-size: $font-size-12;
        line-height: $line-height-24;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
