@import "../../assets/scss/font-icons";
@import "../../assets/scss/fonts";
@import "../../assets/scss/variables/colors";

.stepper {
  overflow: hidden;
  position: relative;
  display: table;
  width: 100%;

  .progress {
    position: absolute;
    top: 24px;
    left: 0;
    height: 1px;
    background: $bright-blue;
  }

  .step {
    position: relative;
    float: left;
    text-align: center;

    &-label {
      display: block;
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 0.875rem;
    }

    &--completed {
      .step-icon {
        background: $bright-green;
      }
    }

    &--active {
      font-weight: 800;

      .step-label {
        font-weight: 600;
      }

      .step-icon {
        background: $bright-blue;
      }
    }

    &--inactive {
      .step-icon {
        background: $disabled-grey;
      }
    }
  }

  .step-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 4px;
    margin-bottom: 8px;
    background: #ddd;
    color: #fff;
    line-height: 40px;
    border-radius: 50%;
    font-weight: 500;
    font-size: 1.625rem;
  }
}
