@import "../../assets/scss/font-icons";
@import "../../assets/scss/fonts";
@import "../../assets/scss/variables/colors";

.select {
  &__element {
    background: $true-white;
    line-height: 1rem;
    border-radius: 3px;
    height: 48px;
    border: 1px solid $disabled-grey;
    width: 100%;
    overflow: hidden;
    position: relative;

    &:after {
      font-family: "dls-icons" !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: $cmx-icon-straight-arrow-down;
      color: $bright-blue;
      font-size: 0.9rem;
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
    }

    &-select {
      width: 100%;
      font-family: "Roboto", sans-serif;
      outline: 0 none;
      font-size: 1rem;
      padding: 1rem 2.25rem 1rem 1rem;
      display: block;
      overflow: visible;
      box-sizing: border-box;
      border: none;
      box-shadow: none;
      background: transparent;
      -webkit-appearance: none;
      display: inline-block;
      position: relative;
      z-index: 2;
    }

    &:focus,
    &:hover {
      border-color: $bright-blue;
      background: $true-white;
    }

    &--error {
      border-color: $true-red;
      background: rgba(238, 61, 66, 0.05);

      &:after {
        color: $true-red;
      }
    }
  }

  &__label {
    font-family: "Roboto", sans-serif;
    display: inline-block;
    font-size: 0.75rem;
    line-height: 0.75rem;
    color: $deep-blue;
    padding-bottom: 0.375rem;
    margin-bottom: 0px;
    cursor: pointer;
  }

  &__error-message {
    font-family: "Roboto", sans-serif;
    display: inline-block;
    font-size: 0.75rem;
    line-height: 0.75rem;
    color: $true-red;
    width: 100%;
    text-align: right;
  }
}

option {
  color: $true-black;
}
