@import "../../assets/scss/font-icons";
@import "../../assets/scss/fonts";
@import "../../assets/scss/variables/colors";

.button {
  display: inline-block;
  min-width: 85px;
  border-radius: 2px;
  border: 1px solid $bright-blue;
  padding: 8px 16px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 700;
  color: $true-white;
  background: $bright-blue;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
  max-width: 280px;
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #000 15%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-transform: scale(11, 10);
    transform: scale(11, 10);
    opacity: 0;
    transition: opacity 1s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 1s;
    transition: transform 0.5s, opacity 1s, -webkit-transform 0.5s;
  }

  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.45);
  }

  &:disabled {
    background: $disabled-grey;
    color: $true-white;
    border: 1px solid $disabled-grey;
    cursor: not-allowed;

    &:after {
      transform: none;
      transition: none;
    }

    &:active {
      background: $disabled-grey;
      color: $true-white;
      border: 1px solid $disabled-grey;
    }

    &:hover {
      transition: none;
      box-shadow: unset;
    }

    .button__icon {
      color: $true-white;
    }
  }

  .button__icon {
    padding-right: 0.15rem;
  }

  &--primary {
    background: $bright-green;
    border: 1px solid $bright-green;

    &-solid {
      background: $true-white;
      color: $bright-green;
      border: 1px solid $bright-green;

      &:disabled {
        background: $true-white;
        color: $disabled-grey;

        &:active {
          background: $true-white;
          color: $disabled-grey;
        }

        .button__icon {
          color: $disabled-grey;
        }
      }

      &:active {
        &:after {
          -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
          opacity: 0.2;
          transition: 0s;
        }
      }
    }

    .button__icon {
      color: $true-white;
    }

    &:active {
      background: #66b330;
      border-color: #66b330;

      &:after {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: 0.2;
        transition: 0s;
      }
    }
  }

  &--regular {
    background: $bright-blue;
    border: 1px solid $bright-blue;

    &-solid {
      background: $true-white;
      color: $bright-blue;

      &:active {
        &:after {
          -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
          opacity: 0.2;
          transition: 0s;
        }
      }

      &:disabled {
        background: $true-white;
        color: $disabled-grey;

        &:active {
          background: $true-white;
          color: $disabled-grey;
        }

        .button__icon {
          color: $disabled-grey;
        }
      }
    }

    .button__icon {
      color: $true-white;
    }

    &:active {
      background: #2684c7;
      border-color: #2684c7;

      &:after {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: 0.2;
        transition: 0s;
      }
    }
  }

  &--support {
    background: transparent;
    color: $bright-blue;
    border: 1px solid $bright-blue;

    &:disabled {
      background: transparent;
      color: $disabled-grey;
      border-color: $disabled-grey;

      &:active {
        background: transparent;
        color: $disabled-grey;
      }

      .button__icon {
        color: $disabled-grey;
      }
    }
    .button__icon {
      color: $bright-blue;
      &:active,
      :focus {
        color: #2684c7;
      }
    }

    &:active {
      background: transparent;
      color: #2684c7;
      border-color: #2684c7;

      &:after {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: 0.2;
        transition: 0s;
      }
    }
  }

  &--text {
    display: inline-block;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1rem;
    min-width: auto;
    border-radius: 0;
    color: $bright-blue;
    border: 0;
    text-align: left;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    padding: 0;

    &:disabled {
      background: none;
      color: $disabled-grey;
      border: 0;

      &:active {
        background: transparent;
        color: $disabled-grey;
        border: 0;
      }

      &:hover {
        text-decoration: none;
      }

      .button__icon {
        color: $disabled-grey;
      }
    }

    &:hover {
      box-shadow: 0 0 0;
      text-decoration: underline;
    }
  }

  &--text-large {
    @extend .button--text;
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}
