@import "../../assets/scss/font-icons";
@import "../../assets/scss/fonts";
@import "../../assets/scss/variables/colors";

.checkbox {
  &__input {
    position: absolute;
    z-index: 1;
    display: none;

    & + .checkbox__label {
      cursor: pointer;
      font-size: 1rem;
      font-family: "Roboto", sans-serif;
      color: $dark-grey;

      .checkbox__label-content {
        display: inline-block;
        vertical-align: middle;
        margin-left: 0.625rem;
      }

      &:before {
        font-family: "dls-icons" !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: $cmx-icon-checkbox-static;
        color: $disabled-grey;
        font-size: 1.56rem;
        display: inline-block;
        vertical-align: middle;
      }

      &:hover {
        &:before {
          color: $bright-blue;
        }
      }
    }

    &:checked {
      & + .checkbox__label {
        &:before {
          content: $cmx-icon-checkbox-active;
          color: $bright-blue;
        }
      }
    }

    &:disabled {
      & + .checkbox__label {
        color: $disabled-grey;

        &:before {
          content: $cmx-icon-checkbox-static;
          color: $disabled-grey;

          &:checked {
            content: $cmx-icon-checkbox-active;
          }
        }
      }
    }
  }
}
